.footer
{
    width: 100%;
    height: 600px;
    background-image: url('./images/whatsapp.jpeg') ;
    background-size: 100% 100%;
    padding-top: 60px;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins';
}
.follow{
    position: relative;
    padding-left: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.allcontent{
    display: flex;
    justify-content: space-around;
}
.icons{
    margin-left: 50px;
    width: 50px;
    height: 50px;
}

.allist ul{
        list-style-type: none;
}
.allist a{
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 2.3rem;
    color: white;
    /* color: black; */
    font-weight: bolder;
}
.allist a:hover{
    color: red;
}
#phone{
margin-top: 10px;
}
.follow span{
    margin-left: 50px;
    font-size: 2rem;
}
.slogan{
    margin-top: 100px;
    font-size: 4.5rem;
    font-family:cursive;
    display: inline;
}

#solution{
    color: rgb(142, 241, 142);
    /* color: azure; */
    font-weight: 700;
}
#pollution{
        color: red;
        font-weight: 600;
}
.icons:hover{
    color: red;
    width: 55px;
    height: 55px;
}
.last{
    background-color: rgb(60, 58, 58);
    height: 60px;
    width: 100%;
    color: white;
    padding-top: 30px;
    font-size: 2rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}