.image{
    height: 80vh;
    width: 100%;
    background: url('./images/nature2.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    position: relative;
    /* 
    filter: brightness(0.6); */
}
.header{
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10rem;
    /* border: 2px solid white; */
}
.menu{
    padding-top: 20px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
}
.menu a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    filter: brightness(1);
    font-family: 'Poppins';
    
}
.menu a:hover{
    color: rgb(106, 240, 106);
}
.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left{
    font-family: 'Poppins';
    margin-top: 200px;
    color: white;
    font-weight: 500;
    font-size: 6rem;
}

.right{
    color: white;
    font-size: 3.5rem;
    margin-top: 100px;
}
.switch {
    /* margin-top: 20px; */
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    background-image: url('./images/dark.png');
    background-size: cover;
  }
  
  input:checked+.slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url('./images/light.png');
  }
  .slider.round {
    border-radius: 34px;
  }
 

  .slider.round:before {
    border-radius: 50%;
  
  }

.login{
  margin-left: 400px;
  font-weight:700;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  width: 150px;
  height: 60px;
  border: 5px solid brown;
}
.signin{
  /* margin-left: 400px; */
  font-weight:700;
  padding-top: 5px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 60px;
  border: 5px solid brown;
}
.login:hover{
  background-color: black;
}
.login:hover a{
    color: white;
}
.signin:hover{
  background-color: black;
}
.signin:hover a{
    color: white;
}