body{
    font-family: 'Poppins';
}
.container{
    margin: auto;
    width: 80%;
    height : auto;
    /* width : 96%; */
    margin-top : 100px;
    padding-top: 20px;
    padding-left: 50px ;
    padding-right: 50px;  
    margin-bottom: 100px;
}
.sustainability{
    border-top: 5px solid black;
    box-shadow:
    rgba(86, 221, 37, 0.42) 0px 60px 123px -25px,
    rgba(26, 200, 14, 0.08) 0px 35px 75px -35px;
}
.susp{
    height: 100px;
    padding-top:20px ;
    text-align: center;
    background-color: rgb(198, 240, 198);;
    font-size: 3.5rem;
    padding-left: 20px;
     font-family: 'Noto Sans'; 
}
.content{
    font-size: 2.5rem;
    padding-left: 20px;
}
.goals{
    border-top: 5px solid green;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: green;
    background-color: rgb(198, 240, 198);
}
.outside{
    width: 100%;
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
}
.allgoals{
    width: 100%;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
}
.imgrelatedinfo{
   opacity: 0;
   visibility: hidden;
   font-weight: 700;
    font-size: 2rem;
    height: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
}
.boxes{
    width: 700px;
    margin-top: 50px;
    border-radius: 15px;
}
.boxes{
    position: relative;
    overflow: hidden;

  height: 100%;
  transition: .5s all ease;
  transform: rotateX(50deg) scale(0.7);
  box-shadow:
    rgba(16, 16, 15, 0.42) 0px 60px 123px -25px,
    rgba(26, 200, 14, 0.08) 0px 35px 75px -35px;
}
.images div{
    font-size: 5rem;
    font-weight: 700;
    position: relative;
    top: 270px;
    left: 200px;
}
.images{
    color: white;
    font-size: 3rem;
    height: 700px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: 100% 100%;
}
.boxes:hover {
    cursor: pointer;
    transform: rotateX(0deg) scale(1) translateY(80px);
  
    transition: .5s all ease;
    height:  60%;
    z-index: 400;
  }
.boxes:hover .imgrelatedinfo{
    /* display: block; */
    opacity: 1;
    visibility: visible;
    
}
.boxes:hover .images{
 opacity: 0.3;
 height: 400px;
  }
  .knoww{
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 225px;
    padding-top: 17px;
    height: 75px;
    border-radius: 15px;
    box-shadow: #555;
    padding-left: 35px;
    background-color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.knoww:hover{
    background-color: #555;
}
.know-more{
    text-decoration: none;
    color: white;
    font-size: 2.3rem;
}


/* changes */
.imgrelatedinfo{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 50px;
    width: 100%;
}


/* images */
#poverty{
    background-image: url('./images/poverty.jpg');
    background-size: 100% 100%;
}
#health{
    background-image: url('./images/health.jpg.avif');
    background-size: 100% 100%;
}
#sanity{
    background-image: url('./images/sanity.jpeg');
    background-size: 100% 100%;
}
#industry{
    background-image: url('./images/industry.jpg');
    background-size: 100% 100%;
}
#edu{
    background-image: url('./images/edu.jpg.webp.jpeg');
    background-size: 100% 100%;
}
#waterbody{
    background-image: url('./images/water.jpg');
    background-size: 100% 100%;
}
  
#climate{ 
    background-image: url('./images/climate.jpg');
    background-size: 100% 100%;
}
#eco{
    background-image: url('./images/eco.jpg.avif');
    background-size: 100% 100%;
}
#hunger{
    background-image: url('./images/hunger.jpg');
    background-size: 100% 100%
}
.latestnews{
    /* padding-top: 20px; */
    padding-bottom: 20px;
    font-size: 4.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: white; */
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
    /* font-style: oblique; */
    text-shadow: 3px 3px rgb(63, 60, 60);
    /* color: white; */
}
.latest{
    
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 100px;
    background-color: rgb(198, 240, 198);
    height: auto;
    width: 100%;
}
.allnews{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
}
.news{
    box-shadow:
    rgba(16, 16, 15, 0.42) 0px 60px 123px -25px,
    rgba(26, 200, 14, 0.08) 0px 35px 75px -35px;
    width: 25%;
    height: 900px;
    /* background-color: rgb(198, 240, 198); */
    background-color: white;
    margin-bottom: 23px;
    margin-left: 25px;
    display: inline-block;
    overflow: hidden;
}
.newsimage{
    height: 60%;
    transition: transform 0.3s ease-in-out;
}
.newsimage:hover{
    transform: scale(1.1); 
}
.newsinfo{
    padding-left: 20px;
    padding-top: 30px;
    height: 30%;
    font-size: 2rem;
    background-color: white;
}
.imagecont{
    width: 100%;
}
.readmorebtn{
    font-size: 1.8rem;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
    width: 215px;
    height: 60px;
    padding-top: 15px;
    background-color: rgb(3, 80, 3);
}
.readmorebtn a{
    text-decoration: none;
    color: white;
}
.readmorebtn:hover{
    background-color: rgb(142, 243, 142);
}
.readmorebtn:hover a{
    color: black;
}

/* images */
#plastic{
    display: block;
    background-image: url(./images/plastic.jpg.gif);
    background-size: 100% 100%;
}
#climateimage{
    display: block;
    background-image: url(./images/climatenews.jpg.webp);
    background-size: 100% 100%;
}
#solarcooking{
    display: block;
    background-image: url(./images/solar-cooking.jpg.webp);
    background-size: 100% 100%;
}
#logicladder{
    display: block;
    background-image: url(./images/logicladder.jpg.webp);
    background-size: 100% 100%;
}
#aiandgrow{
    display: block;
    background-image: url(./images/aiandgrow.jpg.webp);
    background-size: 100% 100%;
}
#greenjobs{
    display: block;
    background-image: url(./images/green-jobs.jpg.webp);
    background-size: 100% 100%;
}
#profitandsustain{
    display: block;
    background-image: url('./images/profitandsustain.jpg.webp');
    background-size: 100% 100%;
}
#windmill{
    display: block;
    background-image: url('./images/windmill.jpeg');
    background-size: 100% 100%;
}
#effi{
    display: block;
    background-image: url('./images/aiandsus.jpeg');
    background-size: 100% 100%;

}